* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#coffees {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coffee, .coffee>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee {
    height: 100px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px;
    flex-direction: column;
}

.coffee-header {
    width: 100%;
    border-bottom: 2px solid black;
    flex-grow: 1;
}

.coffee-body {
    height: 30px;
}

.coffee>div>div {
    height: unset;
}

